body {
    font-family: 'Crete Round', serif;
    background-color: #d9ba8c;
    height: 100%;
    width:100%;
    background-repeat: no-repeat;
}


.jumbotron {
    background-image: url("../images/jumbotron.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    height: 250px;
    border-radius: 5px;
    margin-bottom:0px;
    color: white;
    text-shadow: 2px 2px black;
}

nav {
    font-weight: bolder;
}  

container {
    font-weight: bolder;
}

.profile {
    box-sizing: content-box;
    background-color: white;
    width: 900px;
    padding: 25px;
    margin: 25px;
    border-radius: 20px;
}

form {
    font-weight: bolder;
}

table {
    font-weight: bold;
}

#contactUsBtn {
    background-color: #a0522d;
}

.AboutUs {
    font-weight: bold;
}

.column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
}

.tyson {
    background-color: white;
}

#image {
    border-radius: 50%;
}

h2 {
    font-family: 'Varela Round', sans-serif;
    font-weight: 900;
}
.AboutUsText {
    font-family: 'Varela Round', sans-serif;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #a0522d;
    text-align: center;
}

@media screen and (max-width: 400px) {
    .navbar a {
        float: none;
        width:100%;
    }
}

@media only screen and (max-width: 320px) {
    body { 
        font-size: 2em; 
        }
}





